name: Build and Push Docker Image

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
      - 'feature/*'

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Repository cloning
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies and build
        run: |
          npm install
          npm run build

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          [cite_start]registry: ghcr.io 
          [cite_start]username: ${{ github.actor }}
          [cite_start]password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          [cite_start]push: true
          tags: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:latest